.title-cp{
    padding: 15px;
}

.input-cp{
    width: 40%;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #202327;
    font-size: 100%;
}

.btn-send-cp{
    width: 30%;
    border-radius: 0.5rem;
    cursor: pointer;
    border-color: #13CE66;
    border-style: solid;
    border-width:  3px;
    color: #13CE66;
    background-color: #000000;
}


.select-cp{
    background-color: #000000;
    color: #FFFFFF;
}

.input-cp-descripcion{
    width: 100%;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    background-color: #202327;
    font-size: 100%;
}

@media (max-width: 576px) {

    .input-cp{
        width: 100%;
        border: none;
        cursor: pointer;
        color: #FFFFFF;
        background-color: #202327;
        font-size: 100%;
    }
    .btn-send-cp{
        width: 50%;
        border-radius: 0.5rem;
        cursor: pointer;
        border-color: #13CE66;
        border-style: solid;
        border-width:  3px;
        color: #13CE66;
        background-color: #000000;
    }
}