.post {
    min-width: 10%;
    max-width: 100%;
    min-height: 80px;
    padding: 10px;
    border-color: #000000;
    border-bottom: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    display: flex;
    font-size: 1.1rem;
    line-height: 18px;
    padding-top: 1%;
  }

  
.profile {
    width: 15%;
    height: 10%;
    border-radius: 50px;
    margin-right: 10px;
  }

  .body {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .top {
    display: flex;
    line-height: 1.4rem;
  }
  
  .more {
    margin-left: 20px;
  }
  
  .profile-post {
    width: 9%;
    height: 7%;
    border-radius: 50%;
    margin-right: 10px;
  }

  .img-user-post{
    width: 50%;
    height: 50%;
    border-radius: 50%;
 
  }

  .img-post-fluid{
    width: 80%;
    height: 100%;
    border-radius: 1rem;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
    
  }
  
  .handle {
    color: #536471;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .timestamp {
    color: #536471;
    font-size: 1.1rem;
  }
  
  .timestamp::before {
    content: "·";
    padding-right: 0.3em;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .message {
    text-align: left;
    font-stretch: 100%;
    font-weight: 400;
    line-height: 1.6rem;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    padding-top: 3%;
  }
  
  .actions {
    padding-top: 2%;
    width: 100%;
    color: #536471;
  }

  .menuMovil{
    padding-top: 1%;
    width: 100%;
    border-color: #000000;
    border-top: #FFFFFF;
    border-style: solid;
    border-width:  1px;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    position: sticky;
    bottom: 0px;
    border-bottom-width: 6px;
  }

  .profile-img-nav-movil {
    width: 40%;
    height: 30%;
    border-radius: 50%;
}

.icon-movil{
  font-size: 150%;
}

.icon-movil-plus{
  font-size: 250%;
  color: #00A6FF;
}


.btn-green-post{
    width: 100%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
    border-color: #13CE66;
    border-style: solid;
    border-width:  3px;
    color: #13CE66;
    background-color: #000000;
    font-size: 80%;
    margin-top: 5%;
    margin-bottom: 5%;
}