.menuMovil{
    padding-top: 1%;
    width: 100%;
    border-color: #000000;
    border-top: #FFFFFF;
    border-style: solid;
    border-width:  0.1rem;
    justify-content: space-between;
    background-color: #000000;
    color: #FFFFFF;
    position: sticky;
    bottom: 0px;
    border-bottom-width: 6px;
    padding-bottom: 2px;
}

.linka {
    text-decoration: none;
    color: #FFFFFF;
}
.imenu{
    padding-right: 5%;
}

.icon-movil{
    font-size: 130%;
}

.icon-movil-plus{
    font-size: 200%;
    color: #00A6FF;
}

.profile-img-nav-movil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}